/* Variables */
:root {
  --primary-text-color: #212121;
  --color-logo: #000000;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --color-button: #fff;
  --header-color: #ececec;
  --footer-color: #2f303a;
  --portfolio-project-color: #eeeeee;
  --bcg-color-hero: #c4c4c4;
  --bcg-color-section: #2f303a;
  --color-address-text: rgba(255, 255, 255, 0.6);
  --color-section-text: #757575;
  --background-color-section: #f5f4fa;
  --background-color-hover: #188ce8;
  --border-icon: #afb1b8;
  --color-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --bcg-color-animation: rgba(33, 150, 243, 0.9);
}

/* Reset properties */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* Styles for index.html */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--color-button);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  
}
.logo--black {
  color: var(--color-logo);
  margin-right: 93px;
}
.logo--white {
  color: var(--color-button);
}

.header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid var(--header-color);
}

/* Site nav */
.header__site-nav {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
}

.header__nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header__nav-item {
  margin-right: 50px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-link {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--accent-color);
}

.header__nav-link.current {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.header__nav-link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.mail-icon {
  fill: var(--color-section-text);
  margin-right: 10px;
}
.header__nav-link:hover .mail-icon {
  fill: var(--accent-color);
}
.mail .header__nav-link {
  color: var(--color-section-text);
  transition: color var(--transition-duration) var(--timing-function);
}
.mail .header__nav-link:hover {
  color: var(--accent-color);
}
.phone-icon {
  margin-right: 10px;
  fill: var(--color-section-text);
  transition: fill var(--transition-duration) var(--timing-function);
}
.header__nav-link:hover .phone-icon {
  fill: var(--accent-color);
}
.phone .header__nav-link {
  color: var(--color-section-text);
  transition: color var(--transition-duration) var(--timing-function);
}
.phone .header__nav-link:hover {
  color: var(--accent-color);
}

/* Button */

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-button);
  background-color: var(--accent-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--background-color-hover);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-button);
  width: 696px;
  margin-bottom: 30px;
}

.hero {
  display: flex;
  background-color: var(--bcg-color-hero);
  height: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/bc-image.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

/* Hidden parts */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding-top: 94px;
}

.features__features-list {
  display: flex;
}
.features__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.features__text {
  line-height: 24px;
  color: var(--color-section-text);
  margin-bottom: 0;
}
.features__features-items {
  margin-right: 30px;
}
.features__features-items:last-child {
  margin-right: 0;
}
.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  background-color: var(--background-color-section);
  border-radius: 4px;
  transition: filter var(--transition-duration) var(--timing-function);
}
.features__icon:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Чем мы занимаемся */
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}
.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
.portfolio__list {
  display: flex;
  margin-top: 50px;
}
.portfolio__item {
  margin-right: 30px;
}
.portfolio__item:last-child {
  margin-right: 0;
}


.portfolio__item:last-child {
  margin-left: auto;
}
.portfolio__thumb {
  position: relative;
}
.portfolio__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.portfolio__label {
  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-button);
}

.team {
  background: var(--background-color-section);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
.team__list {
  display: flex;
  margin-top: 50px;
}
.team__item {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-section-text);
  margin-bottom: 0;
}
.team__overlay {
  padding-top: 30px;
  padding-bottom: 16px;
}
.social__list {
  display: flex;
  margin: 0 32px 30px;
}
.social__icon-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon-item:last-child {
  margin-right: 0px;
}
.social__icon {
  fill: var(--color-icon);
  transition: fill var(--transition-duration) var(--timing-function);
}

.social__icon-item:hover,
.social__icon-item:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.social__icon-item:hover .social__icon,
.social__icon-item:focus .social__icon {
  fill: var(--color-button);
}

/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.сlients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.clients__list {
  display: flex;
  margin-top: 50px;
}

.clients__list-item {
  display: flex;
}
.clients__list-item + .clients__list-item {
  margin-left: 30px;
}

.clients__icons {
  fill: var(--color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  border: 1px solid var(--color-icon);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icons,
.clients__link:focus .clients__icons {
  fill: var(--accent-color);
}

/* Footer */
.footer {
  display: flex;
  background-color: var(--bcg-color-section);
  color: var(--color-button);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-button);
  padding: 0;
}

.footer__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-address-text);
}
.footer__address-list {
  margin-bottom: 9px;
}
.footer__address-list:last-child {
  margin-bottom: 0px;
}
.footer .container {
  display: inline-flex;
}
.footer__social {
  margin-top: 12px;
  margin-left: 70px;
}
.footer__social-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-button);
  margin-bottom: 20px;
}
.footer__social-list {
  display: flex;
  
}
.footer__icons {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons:last-child {
  margin-right: 0px;
}
.footer__icon {
  fill: var(--color-icon);
  transition: fill var(--transition-duration) var(--timing-function);
}

.footer__icons:hover,
.footer__icons:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.footer__icons:hover .footer__icon,
.footer__icons:focus .footer__icon {
  fill: var(--color-button);
}

.subscribe {
  margin-top: 12px;
  margin-left: auto;
}
.subsribe__list {
  display: flex;
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--color-button);
  margin-bottom: 20px;
}
.subsribe__mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color var(--transition-duration) var(--timing-function);
}
.subsribe__mail:hover,
.subsribe__mail:focus {
  outline: none;
  color: var(--color-button);
  font: inherit;
}
.subsribe__input {
  margin-right: 12px;
}
.subscribe__btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-button);
  cursor: pointer;
}
.subscribe__icon {
  margin-left: 10px;
}
/* Styles for portfolio.html */
.products {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.btn-list__item {
  margin-right: 8px;
}
.btn-list__item:last-child {
  margin-right: 0;
}
.btn-list__buttons {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--background-color-section);
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
}
.btn-list__buttons:hover,
.btn-list__buttons:focus {
  color: var(--color-button);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list__thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bcg-color-animation);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-button);
  padding: 10px 24px;
}

.work-list__item {
  margin-bottom: 30px;
  margin-right: 30px;
  min-height: 404px;
  width: 370px;
  background: var(--color-button);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.work-list__item:hover,
.work-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list__item:hover .overlay,
.work-list__item:focus .overlay {
  transform: translateY(0);
}

.work-list__item:nth-child(3n) {
  margin-right: 0;
}
.work-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-list__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.work-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-section-text);
  margin: 0;
}
.work-list__description {
  padding: 20px 24px;
}
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration) var(--timing-function);
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-button);
  cursor: pointer;
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}
.modal__icon {
  transition: fill var(--transition-duration) var(--timing-function);
}
.modal__icon:hover,
modal__icon:focus {
  fill: var(--accent-color);
}

/* Form */
.form {
  padding: 40px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.form__input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font: inherit;
  padding-left: 42.5px;
  transition: border-color var(--transition-duration) var(--timing-function);
}
.form__field {
  margin-bottom: 10px;
  position: relative;
}
.form__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  transition: border-color var(--transition-duration) var(--timing-function);
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  color: var(--color-section-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__input:hover,
.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form__textarea:hover,
.form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--transition-duration) var(--timing-function);
}
.form__icon:hover {
  fill: var(--accent-color);
}
.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.checkbox__body {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.checkbox__custom-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8.38px;
  border: 2px solid #212121;
}
.checkbox__icon {
  opacity: 0;
  background: var(--accent-color);
}
.checkbox {
  display: flex;
  margin-bottom: 30px;
}

.checkbox__body:checked ~ .checkbox__text .checkbox__icon {
  opacity: 1;
  background-size: contain;
}
.checkbox__body:checked ~ .checkbox__text .checkbox__custom-box {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font: inherit;
  color: var(--color-section-text);
}
.checkbox__button {
  display: flex;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-button);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px 10px 56px;
  margin: auto;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--timing-function);
}
.checkbox__button:hover,
.checkbox__button:focus {
  background-color: var(--background-color-hover);
}
.checkbox__link {
  color: var(--accent-color);
  text-decoration-line: underline;
  line-height: 1.71;
}
