/* Variables */
:root {
  --primary-text-color: #212121;
  --color-logo: #000000;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --color-button: #fff;
  --header-color: #ececec;
  --footer-color: #2f303a;
  --portfolio-project-color: #eeeeee;
  --bcg-color-hero: #c4c4c4;
  --bcg-color-section: #2f303a;
  --color-address-text: rgba(255, 255, 255, 0.6);
  --color-section-text: #757575;
  --background-color-section: #f5f4fa;
  --background-color-hover: #188ce8;
  --border-icon: #afb1b8;
  --color-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --bcg-color-animation: rgba(33, 150, 243, 0.9);
}

/* Reset properties */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* Styles for index.html */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--color-button);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo-name {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-logo);
  margin-right: 93px;
}
.logo-first {
  color: var(--accent-color);
}

.logo-name-footer {
  color: var(--color-button);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid var(--header-color);
}

/* Site nav */
.main-navigation {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
}

.navigation {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.navigation-link {
  margin-right: 50px;
}
.navigation-link:last-child {
  margin-right: 0px;
}

.nav-site {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.nav-site:hover,
.nav-site:focus {
  color: var(--accent-color);
}

.nav-site.current {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.nav-site.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.mail-icon {
  fill: var(--color-section-text);
  margin-right: 10px;
}
.nav-site:hover .mail-icon {
  fill: var(--accent-color);
}
.mail .nav-site {
  color: var(--color-section-text);
  transition: color var(--transition-duration) var(--timing-function);
}
.mail .nav-site:hover {
  color: var(--accent-color);
}
.phone-icon {
  margin-right: 10px;
  fill: var(--color-section-text);
  transition: fill var(--transition-duration) var(--timing-function);
}
.nav-site:hover .phone-icon {
  fill: var(--accent-color);
}
.phone .nav-site {
  color: var(--color-section-text);
  transition: color var(--transition-duration) var(--timing-function);
}
.phone .nav-site:hover {
  color: var(--accent-color);
}

/* Button */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-button);
  background-color: var(--accent-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--background-color-hover);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-button);
  width: 696px;
  margin-bottom: 30px;
}

.hero {
  display: flex;
  background-color: var(--bcg-color-hero);
  height: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/bc-image.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

/* Hidden parts */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  padding-top: 94px;
}
.features {
  display: flex;
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.features p {
  line-height: 24px;
  color: var(--color-section-text);
  margin-bottom: 0;
}
.features-items {
  margin-right: 30px;
}
.features-items:last-child {
  margin-right: 0;
}
.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  background-color: var(--background-color-section);
  border-radius: 4px;
  transition: filter var(--transition-duration) var(--timing-function);
}
.features-icon:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Чем мы занимаемся */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
.section-list {
  display: flex;
  margin-top: 50px;
}
.section-list-item {
  margin-right: 30px;
}
.section-list-item:last-child {
  margin-right: 0;
}
.type-of-work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-list-list:last-child {
  margin-left: auto;
}
.section-list-thumb {
  position: relative;
}
.section-list-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-list-overlay-text {
  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-button);
}

.team {
  background: var(--background-color-section);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list-item {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:last-child {
  margin-right: 0;
}
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-section-text);
  margin-bottom: 0;
}
.team-item {
  padding-top: 30px;
  padding-bottom: 16px;
}
.social-icon {
  display: flex;
  margin: 0 32px 30px;
}
.icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:last-child {
  margin-right: 0px;
}
.icon-item {
  fill: var(--color-icon);
  transition: fill var(--transition-duration) var(--timing-function);
}

.icon:hover,
.icon:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.icon:hover .icon-item,
.icon:focus .icon-item {
  fill: var(--color-button);
}

/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-list-item {
  display: flex;
}
.clients-list-item + .clients-list-item {
  margin-left: 30px;
}

.clients-icons {
  fill: var(--color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item {
  border: 1px solid var(--color-icon);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}

.clients-item:hover .clients-icons,
.clients-item:focus .clients-icons {
  fill: var(--accent-color);
}

/* Footer */
.main-footer {
  display: flex;
  background-color: var(--bcg-color-section);
  color: var(--color-button);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-item {
  margin-bottom: 20px;
}

.address-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-button);
  padding: 0;
}

.mail-phone-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-address-text);
}
.contact-info-list {
  margin-bottom: 9px;
}
.contact-info-list:last-child {
  margin-bottom: 0px;
}
.main-footer .container {
  display: inline-flex;
}
.social-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-button);
  margin-bottom: 20px;
}
.main-footer .social {
  margin-top: 12px;
  margin-left: 70px;
}
.main-footer .social-icon {
  margin: 0;
}
.main-footer .icon {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--timing-function);
}
.main-footer .icon:hover,
.main-footer .icon:focus {
  background-color: var(--accent-color);
}
.main-footer .icon-item {
  fill: var(--color-button);
}
.subscribe {
  margin-top: 12px;
  margin-left: auto;
}
.subsribe-list {
  display: flex;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--color-button);
  margin-bottom: 20px;
}
.subsribe-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color var(--transition-duration) var(--timing-function);
}
.subsribe-mail:hover,
.subsribe-mail:focus {
  outline: none;
  color: var(--color-button);
  font: inherit;
}
.subsribe-input {
  margin-right: 12px;
}
.subscribe-button {
  display: flex;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-button);
  cursor: pointer;
}
.sub-icon {
  margin-left: 10px;
}
/* Styles for portfolio.html */
.portfolio-list {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.button-list-item {
  margin-right: 8px;
}
.button-list-item:last-child {
  margin-right: 0;
}
.buttons {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--background-color-section);
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
}
.buttons:hover,
.buttons:focus {
  color: var(--color-button);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bcg-color-animation);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-button);
  padding: 10px 24px;
}

.work-list-item {
  margin-bottom: 30px;
  margin-right: 30px;
  min-height: 404px;
  width: 370px;
  background: var(--color-button);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.work-list-item:hover,
.work-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-item:hover .overlay,
.work-list-item:focus .overlay {
  transform: translateY(0);
}

.work-list-item:nth-child(3n) {
  margin-right: 0;
}
.work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.work-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-section-text);
  margin: 0;
}
.work-item {
  padding: 20px 24px;
}
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration) var(--timing-function);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-button);
  cursor: pointer;
}
.icon-close {
  transition: fill var(--transition-duration) var(--timing-function);
}
.icon-close:hover,
icon-close:focus {
  fill: var(--accent-color);
}

/* Form */
.form {
  padding: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.form-input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font: inherit;
  padding-left: 42.5px;
  transition: border-color var(--transition-duration) var(--timing-function);
}
.form-field {
  margin-bottom: 10px;
  position: relative;
}
.form-textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  transition: border-color var(--transition-duration) var(--timing-function);
}
.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  color: var(--color-section-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--transition-duration) var(--timing-function);
}
.form-icon:hover {
  fill: var(--accent-color);
}
.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.policy {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.checkbox-wrap {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8.38px;
  border: 2px solid #212121;
}
.checkbox-icon {
  opacity: 0;
  background: var(--accent-color);
}
.checkbox {
  display: flex;
  margin-bottom: 30px;
}

.policy:checked ~ .policy-text .checkbox-icon {
  opacity: 1;
  background-size: contain;
}
.policy:checked ~ .policy-text .checkbox-wrap {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.policy-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font: inherit;
  color: var(--color-section-text);
}
.form-button {
  display: flex;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-button);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px 10px 56px;
  margin: auto;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--timing-function);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--background-color-hover);
}
.form-link {
  color: var(--accent-color);
  text-decoration-line: underline;
  line-height: 1.71;
}
